{% extends "base.html" %}

{% block content %}
<div class="mb-2">
	<div class="d-flex justify-content-between align-items-end">
		<h3 class="mb-0"> Brain Dump</h3>
		<div class="row">
			{% if user.is_staff %}
			<a class="btn btn-outline-grey btn-sm my-0" href="{% url 'post-create' %}">New Post</a>
			<a class="btn btn-outline-grey btn-sm my-0" href="{% url 'blog-archive' %}">View Archive</a>
			{% endif %}
		</div>
	</div>
	<small class="text-muted font-italic">Tech, Programming, Cooking, and More!</small>
</div>

{% for post in posts %}
<div class="card p-3">
	<h4><a class="post-title" href="{% url 'post-detail' post.id post.slug%}">{{ post.title }} </a></h4>
	<small class="text-muted">{{ post.date_posted| date:"F d, Y" }}, {{ post.readtime }}</small>
</div>
{% endfor %}

<br>
{% if is_paginated %}
{% if page_obj.has_previous %}
<a class="btn btn-outline-grey mb-4" href="?page=1">First</a>
<a class="btn btn-outline-grey mb-4" href="?page={{page_obj.previous_page_number}}">Prev</a>
{% endif %}

{% for num in page_obj.paginator.page_range%}
{% if page_obj.number == num %}
<a class="btn btn-grey mb-4" href="?page={{ num }}">{{ num }}</a>
{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
<a class="btn btn-outline-grey mb-4" href="?page={{ num }}">{{ num }}</a>
{% endif %}
{% endfor %}

{% if page_obj.has_next %}
<a class="btn btn-outline-grey mb-4" href="?page={{page_obj.next_page_number}}">Next</a>
<a class="btn btn-outline-grey mb-4" href="?page={{page_obj.paginator.num_pages}}">Last</a>
{% endif %}

{% endif %}
{% endblock content %}

<!-- 
{% for post in posts %}
<article class="media content-section">
	<img class="rounded-circle article-img" src="{{post.author.profile.image.url}}">
	<div class="media-body">
		<div class="article-metadata">
			<a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
			<small class="text-muted">{{ post.date_posted| date:"F d, Y" }}</small>
		</div>
		<h2><a class="article-title" href="{% url 'post-detail' post.id post.slug%}">{{ post.title }}</a></h2>
		<p class="article-content">{{ post.content }}</p>
	</div>
</article>
{% endfor %}  -->