{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- {% load crispy_forms_field %} -->

{% block content %}
    <div class = "content-section">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group"> 
                <!-- <legend class=""> {{ form.title|as_crispy_field }} </legend> -->
                <!-- {{ form|crispy }} -->
                <!-- {{ form.helper.form_show_labels }} -->
                {% crispy form %}
            </fieldset>
            <!-- <div class = "form-group">
                <button class= "btn btn-outline-info" type="submit"> Post </button>
            </div> -->
        </form>
    </div>
{% endblock content %}