{% extends "base.html" %}

{% block content %}
<div class="my-1">
    <div class="d-flex justify-content-between align-items-end">
        <h3 class="h1-responsive font-weight-bold mb-0 p-0">Projects Not Pizzas</h3>
        {% if user.is_authenticated %}
        <a class="btn btn-secondary btn-sm" href="{% url 'project-create' %}">Create New
            Project</a>
        {% endif %}
    </div>
    <small class="text-muted mb-6 font-italic">for pizzas, go here</small>
</div>


<!-- Section description -->
<!-- <p class="grey-text w-responsive mx-auto mb-4">This is a brief archive of all of the projects that I have completed!</p> -->

<div class="row d-flex justify-content-center px-3">
    {% for project in projects %}
    <div class="col-md-6 p-4">
        {% if project.thumbnail %}
        <div class="rounded shadow">
            <a href="{% url 'project-detail' project.id project.slug%}">
                <img src="{{ project.thumbnail.url }}" class="card-img-top thumbnail-img"
                    alt="{{ project.title }}.thumbnail">
            </a>
        </div>
        {% endif %}
        <div class="card-body">
            <h4 class="font-weight-bold">
                <a class="post-title" href="{% url 'project-detail' project.id project.slug%}">
                    {{ project.title }}
                </a></h4>
            <small> {{ project.description }}</small>
            <hr>
            {% for tag in project.tags.all %}
            <a href="{% url 'project-tag' tag.slug %}" class="tag">{{ tag }}</a>
            {% endfor %}
        </div>
    </div>
    {% empty %}
    <div class="col-md-6">
        <h5>No projects found!</h5>
        <h5><small>Apologies for the inconvience, probably just having some issues. Please check back later!</small>
        </h5>
    </div>

    {% endfor %}
</div>

{% endblock content %}