{% extends "base.html" %}
{% load crispy_forms_tags %}
<!-- {% load crispy_forms_field %} -->

{% block content %}
<div class="container content-section">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <fieldset class="form-group">
            {{ form.media }}
            {{ form|crispy }}
            <!-- {% crispy form %} -->
        </fieldset>
        <div class="form-group">
			<button class="btn btn-grey" name="post" type="submit"> Post </button>
			<button class="btn btn-outline-grey" name="save" type="submit"> Save </button>
        </div>
    </form>
</div>
{% endblock content %}