{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!-- MDB CSS -->
  <link href="{% static 'noahpanpizza/css/mdb.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'noahpanpizza/main.css' %}">
  <!-- Favicon -->
  <link rel="shortcut icon" type="image/png" href="{% static 'noahpanpizza/favicon.ico' %}"/>

  {% if title %}
  <title> NPizza - {{ title }}</title>
  {% else %}
  <title> NPizza </title>
  {% endif %}
  

</head>

<body>
  <header class="site-header">
    {% include 'navbar.html' %}
  </header>

  {% block mainbody %}
  <main role="main" class="container">

    <div>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-{{ message.tags }}">
        {{ message }}
      </div>
      {% endfor %}
      {% endif %}

      {% block content %}
      {% endblock content%}
    </div>


    <!-- <div class="col-md-4">
          <div class="content-section">
            <h3>Our Sidebar</h3>
            <p class='text-muted'>You can put any information here you'd like.
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Latest Posts</li>
                <li class="list-group-item list-group-item-light">Announcements</li>
                <li class="list-group-item list-group-item-light">Calendars</li>
                <li class="list-group-item list-group-item-light">etc</li>
              </ul>
            </p>
          </div>
        </div> -->

  </main>
  {% endblock mainbody %}

  <footer class="site-footer container">
    <hr>
    <div class="row justify-content-center">
      <h6><small>ⓒ Noah Pan 2020</small></h6>
    </div>
    <div class="row justify-content-center">
      <a href="http://www.linkedin.com/in/noahpan323/" class="fa fa-linkedin fa-fw"></a>
      <a href="{% url 'contact' %}" class="fa fa-envelope fa-fw"></a>
      <a href="http://github.com/plloppii" class="fa fa-github-alt fa-fw"></a>
    </div>
    <br>
  </footer>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"
    integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <!-- Font Awesome  -->
  <script src="https://kit.fontawesome.com/59c4aeccda.js" crossorigin="anonymous"></script>
  <!-- MDB core JavaScript -->
  <script type="text/javascript" src="{% static 'noahpanpizza/js/mdb.min.js' %}"></script>
  <!-- Initializations -->
  <script type="text/javascript">
    // Animations initialization
    new WOW().init();
  </script>

  {% block extrascripts %}
  {% endblock extrascripts %} 


  <script src="{% static 'noahpanpizza/main.js' %}"></script>

</body>

</html>